.solution-wrapper {
  padding: 12.5rem 10.125rem;

  .img-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {
  .solution-wrapper {
    padding: 3.125rem 4.5rem;
  
    .img-wrapper img{
      max-width: 100%;
    }
  }
  
}