.team-card-wrapper {
  img {
    width: 35rem;
    margin-bottom: 1.563rem;
  }
  h3 {
    font-family: var(--ff-reg-bold);
    color: var(--clr-super-green);
    font-size: var(--fs-600);
  }
  h4 {
    font-family: var(--ff-reg-regular);
    font-size: var(--fs-500);
    font-weight: 400;
  }
}


