.toolsSection {
    background-color: var(--clr-super-lila);
    color: var(--clr-super-white);
    &__headline {
        margin: 0 0 2% 0;
        h3 {
            color: var(--clr-super-green);
            & + p {
                margin: 2% 40% 0 0;
            }
        }
    }
    &__toolList {
        display: flex;
        gap: 25px;
        .toolWrap {
            position: relative;
            margin: 0 0 20% 0;
            .tool {
                display: grid;
                place-items: center;
                width: 100px;
                background-color: var(--clr-super-white);
                border-radius: 50%;
                padding: 15%;
                aspect-ratio: 1/1;
                align-items: center;
                margin: 1% 0 0 0;
                transition: all 0.2s;
                cursor: pointer;
                img {
                    width: 100%;
                }
                &:hover {
                    transform: translateY(-5%);
                    box-shadow: 0px 10px 0 0px var(--clr-super-lila-shadow);
                }
            }
            .openCard {
                background-color: var(--clr-super-white);
                border-radius: 50px;
                padding: 50%;
                width: 30vw;
                position: absolute;
                top: 150%;
                left: 0;
                z-index: 5;
                display: none;
                h5 {
                    color: var(--clr-super-lila);
                    font-weight: 800;
                    margin: 0 0 5% 0;
                }
                p {
                    color: var(--clr-super-lila);
                }
            }
        }
    }
}
