footer {
    background-color: var(--clr-super-black);
    color: var(--clr-super-white);
    .wrap {
        padding: 1% 5% 1% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mq(lg) {
            padding: 5%;
            gap: 50px;
        }
    }
    div {
        display: flex;
        align-items: center;
        @include mq(lg) {
            width: 100%;
            gap: 20px;

            justify-content: center;
        }
    }
    .logoWrap {
        p {
            font-family: var(--ff-reg-logo);
            font-size: var(--fs-600);
            font-weight: 700;
            margin: 0 20px 0 0;
        }
        span {
            font-size: var(--fs-100);
            color: var(--clr-super-green);
        }
    }
    .icons {
        a {
            font-size: var(--fs-400);
            color: var(--clr-super-green);
            margin: 5px;
        }
    }
    .links {
        a {
            font-size: var(--fs-200);

            text-decoration: none;
            margin: 0 30px;
        }
        hr {
            display: inline-block;
            width: 50px;
        }
    }
}
