.courseDetailHeader {
    position: relative;
    color: var(--clr-super-white);

    .headerBackground {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &__textBlock {
        width: 40%;
        margin: 0 0 0 auto;
        @include mq(lg) {
            width: 100%;
            margin: 0 auto;
        }
        h2 {
            font-weight: 800;
        }
        .plusList {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 1% 0 10% 0;
            img {
                background-color: var(--clr-super-white);
                display: inline-block;
                border-radius: 50%;
                padding: 10px;
                z-index: 4;
                width: 50px;
                aspect-ratio: 1/1;
            }
            p {
                padding: 0 0 0 2%;
            }
        }
    }
}
